* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/*/ arranca inicio /*/

.secundario {
  color: rgb(51, 244, 244);
}

nav {
  background-color: rgba(255, 255, 255, 0.938) !important;
  z-index: 15;
}

nav a {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
}

.navbar-toggler {
  border: white 1px solid !important;
}

.navbar-toggler-icon {
  color: white !important;
}

nav img {
  width: 70px;
}

nav .active {
  border-bottom: 4px solid rgba(240, 159, 10, 0.966);
  border-radius: 2px;
}

.navDetails {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(33, 115, 130, 1) 1.4%,
    rgba(35, 39, 124, 1) 90%
  ) !important;
}

.fondo_negro {
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 13;
  min-height: 100vh;
  width: 100%;
  position: absolute;
}



.header_inicio {
  z-index: 0;
  min-height: 100vh;
  background-image: url(https://s1.1zoom.me/b5457/460/Dogs_French_Bulldog_Colored_background_Glance_528929_1920x1080.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.61) 0px -5px 30px;
}


.header_inicioFarmacia {
  background-image: url(../img/fondofotodniperro.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.61) 0px -5px 30px;
}


.header_inicioJuguetes { background-image: url(../img/fondomostazaperro.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.61) 0px -5px 30px;}





.header_inicio h2 {
  font-size: 3.5rem !important;
}

.mainDetalles {
  min-height: 50vh;
}

.informacion_inicio {
  width: 100%;
  margin: 90px 0px;
}

.div_informacion_inicio {
  width: 300px;
}

.div_informacion_inicio div img {
  width: 250px;
}

.datos {
  background-image: url(https://img.icons8.com/fluency-systems-filled/344/dog-footprint.png),
    url(https://img.icons8.com/fluency-systems-filled/344/dog-footprint.png);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position-x: 50px, 150px;
  background-position-y: 80px, 40px;
}

/* .texto_datos p {
} */

.datos div img {
  width: 100%;
}

/* .informacion_inicio {
} */

.galeria_inicio img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  width: 450px;
}

/* .galeria_inicio {
} */

/*/ arranca juguetes /*/

.card {
  width: 390px;
  height: auto;
  border-radius: 5px 5px 20px 20px;
}

.card-img-top {
  height: 60%;
}

.card-body {
  height: 50%;
}

.barraStock {
  border-radius: 5px 5px 0px 0px;
  font-family: "DM Sans", sans-serif;
  background-color: rgb(202, 26, 70) !important;
  font-size: 12px;
}

/*/ footer /*/

.footer-clean {
  margin-top: 150px;
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

/*/ arranca contact /*/

.info_contact {
  margin: 100px 0px;
}

.contact form {
  width: 40%;
}

.info_contact div img {
  width: 250px;
}

iframe {
  border-radius: 25px !important;
  width: 300px;
  height: 450px;
}

/*/ ARRANCA MEDIA QUERY /*/

/*/ Small devices (landscape phones, 576px and up)/*/

@media (min-width: 576px) {
  iframe {
    border-radius: 25px !important;
    width: 475px;
    height: 450px;
  }
}

/*/ Medium devices (tablets, 768px and up) /*/
@media (min-width: 768px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-clean .item.social {
    text-align: center;
  }

  .footer-clean .item.social > a {
    margin-top: 10px;
  }

  .texto_datos {
    width: 60%;
  }

  iframe {
    border-radius: 25px !important;
    width: 575px;
    height: 450px;
  }
}

/*/ Large devices (desktops, 992px and up) /*/
@media (min-width: 992px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }

  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

/*/ X-Large devices (large desktops, 1200px and up) /*/
@media (min-width: 1200px) {
}

/*/ XX-Large devices (larger desktops, 1400px and up) /*/
@media (min-width: 1400px) {
  .texto_datos {
    width: 33%;
  }
<<<<<<< HEAD
}
=======

  input[type=range] {
    height: 33px;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #50555C;
    background: #E8E8E8;
    border-radius: 15px;
    border: 0px solid #FFFFFF;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #FFFFFF;
    border: 0px solid #FFFFFF;
    height: 27px;
    width: 15px;
    border-radius: 20px;
    background: #33F4F4;
    cursor: pointer;
    margin-top: -8.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #E8E8E8;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #50555C;
    background: #E8E8E8;
    border-radius: 15px;
    border: 0px solid #FFFFFF;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #FFFFFF;
    border: 0px solid #FFFFFF;
    height: 27px;
    width: 15px;
    border-radius: 20px;
    background: #33F4F4;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #E8E8E8;
    border: 0px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 1px #50555C;
  }
  input[type=range]::-ms-fill-upper {
    background: #E8E8E8;
    border: 0px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 1px #50555C;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #FFFFFF;
    border: 0px solid #FFFFFF;
    height: 27px;
    width: 15px;
    border-radius: 20px;
    background: #33F4F4;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #E8E8E8;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #E8E8E8;
  }
<<<<<<< HEAD
 
=======
>>>>>>> 1ab8e0c79e77fbf2f45115546301d1dc0bf9c93d
>>>>>>> b5e25b895a337fb6936d3b108bf6c8d1a1fe34f8
